@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

html{
    font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif;
}
.section.principal{
    position: absolute;
    box-shadow: 1px 1px 20px hsl(241,100%,89%);
    color:hsl(241,100%,89%);
    display: flex;
    width: 35rem;
    height: 24rem;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 5%;
}

.section.result{
    min-height: 100%;
    width: 50%;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 5%;
}

.section.result 
header {
    text-align: center;
    padding: 1.5rem;
}

.section.result .points{
    margin: auto;
    width: 11rem;
    padding: 2rem;
    text-align: center;
    border-radius: 100%;
    font-family: 'Hanken Grotesk', sans-serif;
    background-image: linear-gradient(180deg,hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));

}
.section.result .points h1 {
    color: aliceblue;
    font-size: 4rem;
}

.section.result .score {
    position: relative;
    text-align: center;
}

.score.section{
    position: relative;
    padding: 0 2rem 0 2rem;
}

.section.result .score h1 {
    margin-top: .7rem;
    color: aliceblue;
    font-family: 'Hanken Grotesk', sans-serif;
}

.section.result .score p {
    padding: .5rem;
}

footer .attribution {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    min-width: 100%;
}